@model List<Item>

<table class="table table-hover">
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Pedidos_id</td>
            <td>@item.Produto</td>
            <td>@item.Qtd</td>
            <td>@item.Valor</td>
            <td>@(item.Produto.Valor*item.Qtd)</td>
            <td>
                <a class="btn btn-sm btn-danger" href="/produto/delete/@item.Pedidos_id">Apagar</a>
                <a class="btn btn-sm btn-warning" href="/produto/update/@item.Pedidos_id">Editar</a>
                <a class="btn btn-sm btn-info" href="/carrinho/comprar/@item.Pedidos_id">Comprar</a>
            </td>
        </tr>
    }
</table>