@model List<Consumidor>

<br/>
@if(@Model == null)
{
    <h3>@ViewBag.Mensagem</h3>
}
else
{
    <table class="table table-hover">
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Cpf</th>
            <th>Sexo</th>
            <th>Telefone</th>
            <th>Idade</th>
        </tr>
        @foreach (var con in Model)
        {   
            <tr>
                <td>@con.Pessoas_id</td>
                <td>@con.Nome</td>
                <td>@con.Cpf</td>
                <td>@con.Sexo</td>
                <td>@con.Telefone</td>
                <td>@con.FaixaEtaria</td>
                <td>
                    <a class="btn btn-sm btn-danger" href="/consumidor/delete/@con.Pessoas_id">Apagar</a>
                    <a class="btn btn-sm btn-warning" href="/consumidor/update/@con.Pessoas_id">Editar</a>
                </td>

            </tr>
        }
    </table>
}
<a class="btn btn-primary" href="/consumidor/create">Adicionar</a>