@model Colaborador

<br/>
@if(@Model == null)
{
    <h3>@ViewBag.Mensagem</h3>
}
else
{
    <h3>@ViewBag.Mensagem @Model.Nome</h3>
    <table class="table table-hover">
        <tr>
            <td>@Model.Pessoas_id</td>
            <td>@Model.Nome</td>
            <td>@Model.Cpf</td>
            <td>@Model.DataNascimento</td>
            <td>@Model.Email</td>
            <td>@Model.Sexo</td>
            <td>@Model.Telefone</td>
            <td>@Model.Remuneracao</td>
            <td>@Model.Comissao</td>
            <td>@Model.Login</td>
            <td>@Model.Senha</td>
            <td>
                <a class="btn btn-sm btn-danger" href="/colaborador/delete/@Model.Pessoas_id">Apagar</a>
                <a class="btn btn-sm btn-warning" href="/colaborador/update">Editar</a>
            </td>

        </tr>
    </table>
}
<a class="btn btn-primary" href="/colaborador/create">Adicionar</a>