@model List<PedidoViewModel>

<br />
@if (@Model == null)
{
    <h3>@ViewBag.Mensagem</h3>
}
else
{
    <table class="table table-hover">
        <tr>
            <th>Id</th>
            <th>Cliente</th>
            <th>Colaborador</th>
            <th>Data</th>
            <th>Pedido</th>
            <th>Total</th>
        </tr>
        @foreach (var ped in Model)
        {
            <tr>
                <td>@ped.Id</td>
                <td>@ped.NomeCliente</td>
                <td>@ped.NomeColaborador</td>
                <td>@ped.Data</td>
                <td>
                    @foreach (var item in ped.Itens)
                    {
                        <span>@item.Qtd - @item.Nome</span><br>
                    }
                </td>
                <td>@ped.Total</td>

            </tr>
        }
    </table>
}