@model List<Item>

<br />
@if (@Model == null)
{
    <h3>@ViewBag.Mensagem</h3>
}
else
{
    <table class="table table-hover">
        <tr>
            <th>Id</th>
            <th>Tipo</th>
            <th>Descrição</th>
            <th>Estoque</th>
            <th>Preço</th>
            <th>Quantidade</th>
        </tr>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Produto.Produtos_id</td>
                <td>@p.Produto.Tipo</td>
                <td>@p.Produto.Descricao</td>
                <td>@p.Produto.Estoque</td>
                <td>@p.Produto.Valor</td>
                <td>
                    <select style="margin-right: 68%; background-color: #cac4c4;" id="quantidade@(p.Produto.Produtos_id)">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </td>
                <td>
                    <a class="btn btn-sm btn-primary" style="background-color: green;"
                href="/produto/delete/@p.Produto.Produtos_id">Comprar</a>
                </td>

            </tr>
        }
    </table>
}