@model List<Produto_Pedido>

<table class="table table-hover">
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Pedidos_id</td>
            <td>@item.Produto</td>
            <td>@item.Qtd</td>
            <td>@item.Valor</td>
            <td>@(item.Produto.Valor*item.Qtd)</td>

        </tr>
    }
</table>